<html>

<head>
    <title>Log In</title>
    <style>
        .login-container {
            display: block;
        }
    </style>
</head>

<body>
    <div class="login-container">
        <form action="/login" method="POST">
            <input type="text" placeholder="Email" name="email" required>
            <input type="password" placeholder="Password" name="password" required>
            <p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                {{ message }}
                {% endfor %}
                {% endif %}
                {% endwith %}
            </p>
            <input type="submit" value="Log In">
        </form>
        <p>New to inHABIT? <a href="{{ url_for('signup') }}">Sign Up</a></p>
    </div>
</body>

</html>