<html>

<head>
    <title>Sign Up</title>
    <style>
        .signup-container {
            display: block;
        }
    </style>
</head>

<body>
    <div class="signup-container">
        <form method="POST">
            <input type="text" placeholder="email">
            <input type="text" placeholder="password">
            <input type="text" placeholder="confirm password">
            <input type="submit" value="Sign Up">
        </form>
        <p>Already have an account? <a>Log In</a></p>
    </div>
</body>

</html>